<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>About Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laborum in
      ea nihil fugit ullam? Possimus, esse? Dolore, accusamus excepturi,
      perspiciatis dicta, reprehenderit accusantium ratione libero adipisci
      vitae alias nemo.
    </p>
    <h2>Our Services</h2>
    <ul>
      <li>Web Development</li>
      <li>Mobile App Development</li>
      <li>Desktop App Development</li>
    </ul>
  </body>
</html>
