<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/conditionals">Conditionals</a>
    </li>
    <li>
      <a href="/variables">Conditionals</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/loop">Loop</a>
    </li>
  </ul>
</nav>
